html,body{
    margin: 0%;
    padding: 0%;
background-color:#181717;
font-family: 'Helvetica';font-size: 18px;
cursor: none;
}

.cursor{
position: fixed;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: #1AB26B;
/* transition: 0.1s; */
transform: translate(-50%,-50%);
pointer-events: none;
mix-blend-mode: difference;
}
div.info {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #1AB26B;
    color: #fff;
    /* border: 1px solid #181717; */
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
}
#logo{
    margin-left: 10%;
    height: 40px;
    padding-top: 0.6%;
    padding-left: 10%;
    padding-right: 6%;
    padding: 0.8%;
    float: left;
}
.test1 {      
    width: 200px;     
    padding: 3px;      
    word-wrap: break-word;      
    /* font-size: 20px;     */
}   
#combine{
    margin-right: 10%;
}
.heading{
    position: relative;
    float: left;
    color: #FFFFFF;
}
.header-title{
    color: #FFFFFF;
    margin: 0.6%;
    border-left:1px solid #fff;cursor:default;float:left;padding:0 0 0 15px;font-weight:800}
.header{
    background-color: #000000;
    height: 60px;
}
.button{
float: right;
margin-top:1% ;
margin-left: 0.8%;
background:#1AB26B;
font-family: 'Helvetica';
color:#fff;
border-radius: 1em;
border: none;
position:relative;
height:30px;
/* font-size:1.6em; */
padding:0 2em;
cursor:pointer;
outline:none;
}
button:hover ~ .cursor{
    transform: scale(3);
    /* background-color: #1AB26B; */

}
