html,body {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding-top: 0%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    font-family: 'Raleway';font-size: 18px;
  }
    /* visited link */
    a:visited {
        color: white;
        text-decoration: none;
      }
      
      /* mouse over link */
      a:hover {
        color:white;
        text-decoration: none;
    
      }
      
      /* selected link */
      a:active {
        text-decoration: none;
        color: white
      }
.row{
    display: flex;
    height: 100vh;

}
h1 {
    font-family: 'nunito';font-size: 45px;
}
.hello{
color: #1f2833; display: block; 
padding-left: 10%;
padding-top: 15%;
text-align: left; margin: 0%; font-size: 60px;
position: relative;
    background: transparent;
}
.Name{
    padding-left:10% ;
    color: #66FCF1; display: block; text-align: left; margin: 0%; font-size: 100px;
    position: relative;
    background: transparent;
}

.me{
    padding-left:10.5% ;
    color:  #C5C6C8; display: block; text-align: left; margin: 0%; 
    position: relative;
    background: transparent;
}
.scene,
/* canvas{
    position: absolute;
    width: 100%;
    height: 100%;
} */
.home{
    background-color: #0B0C10;
    background: transparent;
    position: relative;
    top : -800px;
    /* background-image: linear-gradient(#0d1741,#0B0C10); */
    height: 800px;
    width: 100%;
}
.Roblox{
    padding: 0%;
    flex: 100%;
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    /* opacity: 0.5; */
    /* display: none; */
}
.Roblox-info{
    position: relative;
    padding-top: 15%;
    padding-left: 8%;
    top :-550px;
    flex: 30%;
    text-align: left;
    width: 30%;
    color: #C5C6C8;
    background: transparent ;
}
a:link {
    color: white;
    text-decoration: none;

  }
 
  
.button1 {
	--width: 150px;
	--height: 50px;
	border: 0;
	position: relative;
    left: 55%;
	width: var(--width);
	height: var(--height);
	font-size: 1.2rem;
	font-family: "Bebas Neue";
    color: #66FCF1 ;
	font-weight: bold;
	margin: 1rem;
	border-radius: 0.5em;
	cursor: pointer;
	overflow: hidden;
	background: #1f2833;
}
	/* button:nth-child(1) {
		background: rgb(255, 223, 208);
		color: rgb(255, 112, 46);
	} */


	.button1 span {
		position: relative;
		z-index: 2;
		transition: color 200ms ease;
	}
	.button1 div {
		position: absolute;
		width: calc(3 * var(--width));
		height: calc(3 * var(--height));
		left: 0;
		top: 0;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		background: #66FCF1;
		clip-path: circle(0% at 50% 50%);
		transition: clip-path 500ms ease;
		z-index: 1;
	}
	.button1:hover span {
			color: black;
		}
    .button1:hover div {
			clip-path: circle(100% at 50% 50%);
		}
	


