@import url('https://fonts.cdnfonts.com/css/monument-extended');

*{
  scroll-behavior: smooth !important;
}
html{
    /* cursor: url("img/finger.png"), auto;
     */
     overflow-x: hidden ;
}
.hidden-image{
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #161616;
    color: white !important;
    /* font-family: "Cosi Azure" !important; */
    font-family: 'Monument Extended', sans-serif;

}
/* $redColor: rgba(244,67,54,1);
$blueColor:rgba(33,150,243,1); */
.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    text-transform: uppercase !important;
}

@media screen and (min-width: 53em) {
    .slider {
        height: 100vh;
    }
}
.hoverimage img{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rgbKineticSlider {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

canvas {
    position: relative;
    display: block;
    top: 0;
    left: 0;
}

nav a {
    text-decoration: none;
    position: absolute;
    top: 46vh;
    z-index: 1;
    padding: 20px;
    transition: 0.3s;
    background: black;
    color: white;
}

nav a.next {
    right: 10vw;
}

nav a.prev {
    left: 10vw;
}

@media screen and (max-width: 53em) {
    nav a {
        top: auto;
        bottom: 3rem;
    }
}

.smooth-scroll-wrapper {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    /* overflow-x: hidden; */
    margin: 800px auto;
}
.content {
    width: 70%;
    margin: 160px auto;
}
section {
    transition: transform 0.25s;
    will-change: transform;
}

h1 {
    font-size: 48px;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 0;
    /* color: #FCB304; */
}

p {
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    line-height: 30px;
}

section img {
    width: 100%;
}
.left{
    width: 46%;
    float: left;
    padding: 2%;
}
.parent{
    padding-bottom: 2%;
}
/* div {
    margin: 0 0 70px 0;
} */

/* ::-webkit-scrollbar {
    width: 0;
  } */
  
  .progressbar {
    position: fixed;
    top: 0;
    left: 85%;
    background: rgba(255, 255, 255, 0.4);
    width: 1px;
    z-index: 1;
  }
  .navigation-list{
      margin: 0;
      padding: 0;
  }
  .navigation-wrapper ul {
    /* margin-top: 240px; */
    /* margin-left: 100px; */
    /* margin-bottom: 200px; */
    /* margin: 0; */
    list-style: none;
    position: relative;
  }
  
  .navigation-item {
    display: block;
    user-select: none;
    margin: 120px 0;

  }
  
  a {
    /* font-family: "Cosi Azure"; */
    font-family: 'Monument Extended', sans-serif;
    font-size: 5em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3) !important;
  }
  .white{
      font-size: 1em;
      color: #ffffff !important;
  }
  span {
    position: relative;
    display: block;
  }

  ul{
      margin: 0;
      /* font-size: 9em; */
  }
.navigation-item span:before {
    width: 0;
    color: #ffffff ;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}
  
  .navigation-item span:hover:before {
    width: 100%;
  }
  #image-div{
    position: absolute;
    
  }
  .project-preview-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
  }
  .project-preview {
    position: absolute;
    /* top: 12%;
    left: 50%; */
    /* width: 400px; */
    /* offset-anchor: 0% 0%; */
    height: 300px;
    background: url(img-01.jpg) no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
  }
  #sketch-container{
    position: absolute;
    display: none;
    transform: translate(-20%,-20%);
  }

  .center-float{
     justify-content: center; 
     align-items: center;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
  }
  .icon-3d {
    padding: 10px;
    -webkit-animation: icon3d 200ms 10;
    animation: icon3d 200ms 10;
    color: #fff;
  }
    .icon-3d:hover {
      -webkit-animation: icon3d 200ms infinite;
            animation: icon3d 200ms infinite;
    }
  
  
  @keyframes icon3d {
    0% {
      text-shadow: 5px 4px rgba(244,67,54,1), -5px -6px rgba(33,150,243,1);
    }
    25% {
      text-shadow: -5px -6px rgba(244,67,54,1), 5px 4px rgba(33,150,243,1);
    }
    50% {
      text-shadow: 5px -4px rgba(244,67,54,1), -8px 4px rgba(33,150,243,1);
    }
    75% {
      text-shadow: -8px -4px rgba(244,67,54,1), -5px -4px rgba(33,150,243,1);
    }
    100% {
      text-shadow: -5px 0 rgba(244,67,54,1), 5px -4px rgba(33,150,243,1);
    }
  }

.card{
height: 200px;
width: 142px;
position: absolute;

}
.set-card{
  /* display: none; */
  position: absolute;
}
#set-card{
  display: none;
}
.cards{
  position:absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 400px;
}

.footer{
padding-top: 25px;
padding-bottom: 20px;
  text-align: center;
}

.tooltip {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  /* display: flex; */
  /* float: right; */
}

#tooltiptext{
  position: fixed;
  background-color: #161616;
  border-radius: 3%;
  border-color: aqua;
  border-width: 2px;
  border-style: solid;
  z-index: 1000;
  bottom: 30px;
  right: 30px;
  padding: 2%;
  width: 30%;
  display: none;
}